.container {
  display: flex;
  height: 100vh;

  .slider {
    background: linear-gradient(163.85deg, #1d2129, #00308f);
    .logo {
      position: fixed;
      top: 24px;
      left: 22px;
      display: inline-flex;
      align-items: center;
      z-index: 1;

      &-text {
        margin-top: 20px;
        margin-left: 16px;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;

    .inner-content {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .ant-layout-footer {
    text-align: center;
  }
}

/* 轮播图区域 */
.ant-carousel {
  height: 100%;

  .login-carousel {
    height: 100%;

    .slick-list {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #fff;
    }

    &-sub-title {
      margin-top: 8px;
      font-size: 14px;
      line-height: 22px;
      color: #fff;
    }

    &-image {
      width: 50%;
      height: 50%;
      margin: 50px 0px 0px 0px;
    }
  }
}

/* 表单区域 */
.login-form {
  &-wrapper {
    width: 320px;
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-text-1);
    line-height: 32px;
  }

  &-sub-title {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-3);
  }

  &-error-msg {
    height: 32px;
    line-height: 32px;
    color: rgb(var(--red-6));
  }

  &-password-actions {
    display: flex;
    justify-content: space-between;
  }

  &-register-btn {
    color: var(--color-text-3) !important;
  }

  .login-form-button {
    width: 80%;
    margin-right: 12px;
  }
}

.margin12 {
  margin: 12px;
}
